{% extends "base.html" %}
{% load static %}

{% block title %}
My Cart - {{ block.super }}
{% endblock %}

{% block content %}
{% include 'breadcrumbs.html' %}

<h1>my shopping cart</h1>
<div class="containter">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
		{% if cart.cartitem_set.all %}
		<form action="{% url 'my_cart' %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="_method" value="put" />
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Product ID number</th>
						<th>product name</th>
						<th>unit price</th>
						<th>Quantity</th>
						<th>price</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{% for item in cart.cartitem_set.all %}
				<tr>
					<th scope="row">{{ forloop.counter }}</th>
					<td>{{ item.product.id }}</td>
					<td>
						{{ item.product.title }}
						{% if item.variation %}
							{% for var in item.variation.all %}
								<small>{{ var.category|title }}: {{ var.title }}</smalll><br>
							{% endfor %}
						{% endif %}
					</td>
					<td>{{ item.product.price }}</td>
					<td style="min-width: 75px; width: 75px;">
						<input type="number" min="1" max="9" size="6"value="{{ item.quantity }}" name="quantity" class="form-control">
					</td>
					<td>{{ item.total_price }}</td>
					<td>
						<a href="{% url 'remove_item' cart_item_id=item.id %}">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
				{% endfor %}
				</tbody>
				<tfooter>
					<!-- <tr>
						<td>Shipping charges</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td id="shippingPrice"><b>&#8377;</b> 80.00 </td>
						<td></td>
					</tr> -->
					<!-- <tr>
						<td>Total price</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><b>&#8377;</b> {{ cart.get_subtotal }}</td>
						<td></td>
					</tr>
					<tr>
						<td>Taxes (8%)</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><b>&#8377;</b> {{ cart.get_tax }}</td>
						<td></td>
					</tr> -->
					<tr>
						<td><strong>price</strong></td>
						<td></td>
						<td></td>
						<td></td>
						<td><input id='updateBtn' type='submit' class='btn btn-success btn-xs pull-right' value='Update'></td>
						<td id="subTotal" data-subtotal="{{ cart.get_subtotal }}"><strong><b>&#8377;</b><span id="totalPrice"> {{cart.get_subtotal}}</span></strong></td>
						<input type="hidden" id="balance" value="{{user.balance}}">
						<td></td>
					</tr>			
				</tfooter>
			</table>
		</form>
		<div class="text-center">
			<span><button id="submitOrder" class="btn btn-success">Checkout</button></span>
			<span><a href="{% url 'all_products' %}"  class="btn btn-success">continue shopping</a></span>
		</div><br>
		<div class="text-center"><span id="lowBalance" class="hidden">Insufficcent balance <a href="{% url 'user_balance_info' %}">Add Money</a></span></div>
		{% else %}
			<p>The shopping cart is empty</p>
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- <script src="{% static 'js/main.js' %}"></script> -->

<script>

$(document).ajaxStart(function(){
	$('#submitOrder').attr("disabled", true);
}).ajaxStop(function(){
	$('#submitOrder').attr("disabled", false);
});


$(document).ready(function(){
	$('#updateBtn').hide();
	$('input[type="number"]').on('change', function(){
		$('#updateBtn').show();
	});
});


// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$('#submitOrder').on('click', function(e){
	e.preventDefault();
	var x = $('#totalPrice').text();
	var totalPrice = parseInt(x);
	var y = document.getElementById('balance').value;
	var Balance = parseInt(y);
	console.log(Balance);
	console.log(totalPrice);
	if(totalPrice < Balance){
		console.log('ordered sucessfully')
		Balance=Balance-totalPrice
		console.log(Balance)
		window.location.href = "http://127.0.0.1:8000/orders/";

	// 	$.ajax({
	// 	url:'/mycart/',
	// 	type: 'PUT',
	// 	contentType: 'application/json;charset=UTF-8',
  	// 	dataType: "json",
  	// 	data: JSON.stringify({'rate': 80, 'rate_id': 'NULL'}),
  	// 	success: function(r) {
  	// 		console.log(r);
  	// 	},
  	// 	error: function(r) {
  	// 		console.log(r);
  	// 	}	
	// })// end ajax
	
	}
	else{
		document.getElementById("lowBalance").classList.remove("hidden");;
	}
})

</script>
{% endblock %}